POSTGRES_URL="postgres://postgres:zh3tGaVeMoKGGFvr@120.53.243.253:5432/todolistdb"
POSTGRES_PRISMA_URL="postgres://postgres:zh3tGaVeMoKGGFvr@120.53.243.253:5432/todolistdb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://postgres:zh3tGaVeMoKGGFvr@120.53.243.253:5432/todolistdb"
POSTGRES_URL_NON_POOLING="postgres://postgres:zh3tGaVeMoKGGFvr@120.53.243.253:5432/todolistdb"
POSTGRES_USER="postgres"
POSTGRES_HOST="120.53.243.253"
POSTGRES_PASSWORD="zh3tGaVeMoKGGFvr"
POSTGRES_DATABASE="todolistdb"


GOOGLE_CLIENT_ID='1034214810997-5legsqu5m4h9m3ghg107b71vpedv6ib7.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET= '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'
NEXTAUTH_URL= 'http://localhost:3000'
NEXTAUTH_SECRET ='2bf0fa1d7db9ecd60b2c436978513d3c1c5536a8'
GITHUB_ID= 'e401f25e64b65a9613dc'
GITHUB_SECRET= 'e27731149aebf7d4ebf3fa6d7692da7acc10f3fd'
